@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="contact">
	<h1>Contact us</h1>
@Html.Action("Index","ContactFormSurface")
</div>