@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{
	Layout = "Master.cshtml";
}
<h1 class="text-center">Member Login Page</h1>
	@Html.RenderJsHere()
	<div class="text-center">
	@if(!Members.GetCurrentLoginStatus().IsLoggedIn){
		@Html.Partial("Login")
	}
else{
		@Html.Partial("Logout")
}
</div>