@inherits Umbraco.Web.Macros.PartialViewMacroPage
	

@{
	var selection = CurrentPage.Site().FirstChild("projectsHomePage").Children.Where("Visible");
}


	
@if (selection.Any())
{
	<li class="dropdown">
		<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Projects <span class="caret"></span></a>
			<ul class="dropdown-menu">
				@foreach (var item in selection){
					if(item.projectStatus == "Completed"){
						
							<li>
								<a href="@item.Url">@item.Name</a>
							</li>
						}	
					}
			</ul>
	</li>
}