@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@


    @foreach (var item in selection)
    {
		<div class="messages">
        	<h3 class="text-center">@item.userName</h3>
			<p class="text-center">@item.userMessage</p>
		</div>
		<hr/>
    }
